body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background: linear-gradient(90deg, rgba(69, 41, 79, 1) 15%, rgba(87, 56, 92, 1) 60%);
    height: 70px;
    width: 100%;
    top: 0;
    z-index: 1;
    color: white;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
    padding: 5px 20px;
}

header h1 a {
    font-size: 26px;
    color: #ffffff;
    cursor: pointer;
}

header a {
    transition: opacity 0.5 ease;
}

header a:hover {
    color: rgb(235, 235, 240);
    transition: 0.3s all;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

input::placeholder {
    font-family: 'Poppins', sans-serif;
}

.search {
    background: white;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    transform: rotateX(700deg);
    position: relative;
    left: 60px;
}

.menu-abas {
    font-size: 15px;
}

.search input {
    border: none;
    display: flex;
    align-items: center;
    outline: none;
    margin-left: 10px;
    width: 350px;
    height: 25px;
}

.search input::placeholder {
    color: #45294f;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    gap: 20px;
    margin: 20px;
    margin-top: 100px;
}

.sidebar,
.rightbar {
    background: #f2f2f2;
    padding: 15px;
    height: 35%;
    border-radius: 8px;
    font-size: 14px;
    border: 2px solid #999899;
    position: sticky;
    top: 0;
    height: 90vh;
    overflow-y: auto;
}

.sidebar hr {
    height: 0.8px;
    background-color: #999899;
    border: none;
    opacity: 0.8px;
}

/*container de compartilhar*/
.postagem {
    padding: 15px;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 0px 4px rgb(99, 98, 98);
    margin: 0 0 30px 0;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease;
}

.toggle-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 0;
}

.postagem.aberto .toggle-btn {
    top: auto;
    bottom: 16px;
    transform: rotate(180deg);
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    padding: 0 20px;
}

.post-comment-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postagem.aberto .content {
    max-height: 250px;
    padding: 30px 20px 20px 20px;
}

.content textarea {
    padding: 4px 0 0 4px;
    width: 100%;
    min-height: 200px;
    border-radius: 8px;
    font-size: 15px;
    resize: none;
    margin-bottom: 20px;
}

.compartilhar {
    width: 89%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #999899;
    font-size: 16px;
    margin: 10px;
}

.compartilhar:focus {
    outline: none;
}

.compartilhar::placeholder {
    color: #4B0055;
    font-family: 'Poppins', sans-serif;
}

.exportar {
    width: 4%;
    height: 4%;
}

#btnEnviar {
    padding: 1% 2%;
    font-size: 14px;
    background: #4B0055;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

#btnEnviar:hover {
    background: #6b0080;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-15vw, -15vh);
}

#conteudoEnviar {
    position: fixed;
    width: 60vh;
    height: 30vh;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #333;
    font-size: 3vh;
    border-radius: 12px;
    box-shadow: 0px 0px 4px rgb(99, 98, 98);
    pointer-events: none;
    overflow: hidden;
    opacity: 0;
    user-select: none;
}

#conteudoEnviar.ativo {
    opacity: 1;
    pointer-events: auto;
}

.loader {
    display: flex;
    padding: 1em;
    align-items: flex-end;
    justify-content: center;
}

svg path,
svg rect {
    fill: #4B0055;
}

/*fim do container de compartilhar*/

.fotoDePerfil {
    width: 40px;
    height: 40px;
    margin: 0 5px -10px 0;
}

.post-box {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 4px rgb(99, 98, 98);
}

.post-box h3 {
    margin: 0;
    font-size: 16px;
}

.post-box img {
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
}

.post-box p {
    font-size: 14px;
    color: #333;
}

.code-box {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 6px;
    font-size: 13px;
    overflow-x: auto;
    border: 1px solid rgb(99, 98, 98);
}

.sidebar h4 {
    text-align: center;
}

.home {
    width: 30px;
    height: 30px;
}

.pag-inicial {
    font-size: 15px;
    font-weight: bold;
}

.sidebar h4,
.rightbar h4 {
    margin-top: 0;
}

.sidebar a,
.rightbar a {
    white-space: nowrap;
    font-size: 13px;
}

.menu-item {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.menu-item:hover {
    color: #5c5c5c;
}

.pag-text {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.html-text {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    background-color: #dbdadb;
    border-radius: 10px;
}

.rightbar h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.rightbar img {
    width: 30px;
    height: 30px;
}

.rightbar .menu-item {
    background: #fff;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.span {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.btt-right {
    display: flex;
    gap: 0.5rem;
}

.btt-left {
    display: flex;
    gap: 0.5rem;
}

.post-comment-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enviar-post {
    background-color: #45294f;
    color: white;
    border: none;
    margin-right: 2rem;
    padding: 6px 10px;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
}





/*CONTAINER PAI LEGAL MAROTO*/
.containerPaiPerfil{
    position: relative;
}

.dropDrown {
    width: 20vw;
    max-height: 80vh;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2px 0;
    position: absolute;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    top: 100%;
    left: -370%;
    overflow: hidden;
    overflow-y: scroll;
    color: #333;
    display: none;
}
.dropDrown ul{
    list-style: none;
}

.dropDrown.ativo {
    display: block;
}

.dropDrown.closed {
    transform: translateX(-100%);
    box-shadow: none;
    position: absolute;
}
.section-title {
    font-size: 1rem;
    padding-left: 15px;
    padding-top: 15px;
    font-weight: bold;
    margin-top: 5px;
}

.dropDrown a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 12px 2px;
    font-size: 14px;
}