* {
    scroll-padding-top: 100px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

h3 {
    color: #45294f;
}

header {
    background: linear-gradient(90deg, rgba(69, 41, 79, 1) 15%, rgba(87, 56, 92, 1) 60%);
    height: 70px;
    width: 100%;
    top: 0;
    z-index: 1;
    color: white;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
    padding: 5px 20px;
    z-index: 1000;
}

header h1 a {
    font-size: 26px;
    color: #ffffff;
    cursor: pointer;
}

header a {
    transition: opacity 0.5 ease;
}

header a:hover {
    color: rgb(235, 235, 240);
    transition: 0.3s all;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

input::placeholder {
    font-family: 'Poppins', sans-serif;
}

.search {
    background: white;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    transform: rotateX(700deg);
    position: relative;
    left: 60px;
}

.menu-abas {
    font-size: 15px;
}

.search input {
    border: none;
    display: flex;
    align-items: center;
    outline: none;
    margin-left: 10px;
    width: 350px;
    height: 25px;
}

.search input::placeholder {
    color: #45294f;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    gap: 20px;
    margin: 20px;
    margin-top: 100px;
}

.sidebar {
    background: #f2f2f2;
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
    border: 2px solid #999899;
    position: sticky;
    top: 0;
    height: 90vh;
    overflow-y: auto;
}

.rightbar {
    background: #f2f2f2;
    padding: 15px;
    height: 45%;
    border-radius: 8px;
    font-size: 14px;
    margin-left: 5.5rem;
    width: 4rem;
    border: 2px solid #999899;
    position: sticky;
    top: 0;
    height: 110vh;
    overflow-y: auto;
}

.numerador-pai {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.numerador {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #45294f;
    color: white;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgb(99, 98, 98);
}

.numerador:hover {
    transform: scale(1.1);
    transition: 0.3s all;
}

.sidebar hr {
    height: 0.8px;
    background-color: #999899;
    border: none;
    opacity: 0.8px;
}

.postagem {
    padding: 15px;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 0px 4px rgb(99, 98, 98);
    margin: 0 0 50px 0;
}

.fotoDePerfil {
    width: 40px;
    height: 40px;
    margin: 0 5px -10px 0;
}

.post-box-pai {
    display: flex;
    justify-content: center;
    margin-left: 4rem;
}

.post-box {
    background: white;
    padding: 15px;
    width: 49rem;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 4px rgb(99, 98, 98);
    position: relative;
}

.post-box-paragrafos {
    font-size: 14px;
    color: #333;
}

.laranja {
    color: rgb(165, 83, 16);
}

.azul {
    color: rgb(0, 34, 78);
}

.azul-claro {
    color: rgb(65, 112, 139);
}

.verde {
    color: rgb(0, 54, 0);
}

/* Container 1*/
.recomendados-iframes {
    text-align: center;
}

.recomendados-iframes2 {
    margin: 20px;
}

/* Fim do container 1*/

/* Container 2*/
.link-vscode {
    color: #45294f;
    font-weight: bold;
}

/* Fim do container 2*/

/* Container 3*/
.container-cinza3 {
    background-color: #dfdfdf;
    border-radius: 5px;
    justify-content: left;
}

.estruturaBasicaHTML {
    padding: 16px 0;
    color: black;
    font-weight: bold;
    margin-left: -20%;
    user-select: none;
}

/* Fim do container 3*/

/* Container 4*/
.demonstracaoTags {
    background-color: #dfdfdf;
    border-radius: 5px;
}

.estruturaTags {
    padding: 10px 0 15px 0;
    color: black;
    font-weight: bold;
    user-select: none;
    margin-left: -20%;
}

.demonstracaoTags2 {
    color: black;
    padding-right: 70px;
    border: 2px solid black;
    background-color: #f1f1f1;
}


.tags {
    color: #45294f;
    font-weight: bold;
}

/* Fim do container 4*/

/* Container 6*/
.demonstracaoImgs {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    color: black;
}

.img-exemplo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.tag-img-tipo1 {
    display: block;
    width: 300px;
    height: 50px;
    border: 2px solid black;
    user-select: none;
    background-color: #dfdfdf;
}

.tag-img-tipo2 {
    display: block;
    width: 250px;
    height: 180px;
    border: 2px solid black;
}

/* Fim do container 6*/

/* Container 7*/
.demonstracaoLinks {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.link-img1 {
    background-color: #dfdfdf;
    display: inline-block;
    padding: 16px 16px 0 16px;
    border-radius: 5px;
    border: 2px solid black;
    position: relative;
    margin-bottom: 40px;
    user-select: none;
    font-weight: bold;
}

.topo-link::before {
    content: "";
    width: 2px;
    transform: translateY(40%);
    left: 13%;
    height: 190px;
    background-color: black;
    position: absolute;
}

.link-exLink {
    padding: 10px 50px;
    border: 2px solid black;
    z-index: 1;
    background-color: white;
}

.link-img3 {
    width: 400px;
    height: 200px;
    border: 2px solid black;
}

.inferior-link {
    display: flex;
    align-items: center;
}

.linha-link-horizontal {
    flex: 1;
    height: 2px;
    background: black;
}

/* Fim do container 7*/

/* Container 8*/
.comentario-explicacao {
    display: flex;
    justify-content: center;
    gap: 80px;
    background-color: #dfdfdf;
    border-radius: 5px;
    padding: 16px 0;
}

.estruturaComentarios {
    padding: 5px 0;
    color: black;
    font-weight: bold;
    user-select: none;
    margin-left: -340px;
}

.resultado-comentario {
    color: black;
    padding-right: 70px;
    border: 2px solid black;
    background-color: #f1f1f1;
}

/* Fim do container 8*/

.post-box::before {
    content: attr(data-num);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 20px;
    height: 50px;
    padding-bottom: 5px;
    background-color: #45294f;
    top: 0;
    right: 20px;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.post-box h3 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 30px;
}

.code-box {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 6px;
    font-family: monospace;
    font-size: 13px;
    overflow-x: auto;
    border: 1px solid rgb(99, 98, 98);
}

.sidebar h4 {
    text-align: center;
}

.home {
    width: 30px;
    height: 30px;
}

.pag-inicial {
    font-size: 15px;
    font-weight: bold;
}

.sidebar h4,
.rightbar h4 {
    margin-top: 0;
}

.sidebar a,
.rightbar a {
    white-space: nowrap;
    font-size: 13px;
}

.menu-item {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu-item:hover {
    color: #5c5c5c;
}

.pag-text {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.selected-text {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    background-color: #dbdadb;
    border-radius: 10px;
}

img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

button {
    background: none;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

.img-python {
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.img-py {
    display: flex;
    justify-content: center;
}