* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background-color: rgb(228, 225, 225);
    font-family: "Poppins", sans-serif;
}

header {
    background: linear-gradient(90deg, rgba(69, 41, 79, 1) 15%, rgba(87, 56, 92, 1) 60%);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    white-space: nowrap;
}

.logo {
    font-size: 14px;
    font-weight: bold;
}

.menu {
    font-size: 14px;
}

header a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

header a:hover {
    color: rgb(235, 235, 240);
    transition: 0.3s all;
}